@import "media";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Bitter', serif;
    min-width: 400px;
    overflow: auto;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 450px;
    background: #fcfbfb;
    border: 1px solid #e7e7e7;

    background: #eef3f7;
    /* width: 410px; */
    min-height: 270px;
    box-shadow: 0px 15px 35px -5px rgb(50 88 130 / 32%);
    border-radius: 15px;
    padding: 22px;
    height: 42vw;
    max-height: 450px;
    margin: 10px;
}

video {
    /*max-width: 90%;*/
}

.speedControl {
    width: 2em;
    padding: 2px;
    border: 1px inset silver;
    box-sizing: border-box;
    background: black;
    align-self: stretch;
    margin: 0 0 0 0.5em;
    border-radius: 4px;
    overflow: hidden;

    height: 100%;
}

.indicator {
    user-select: none;
    color: white;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( to left top, blue, red);
    font-size: 0.7em;
    font-family: sans-serif;
}

.control{
    align-self: stretch;
}

section.player{
    //height: 100%;
    padding: 4px;
    width: 70%;
}

section.playlist{
    align-self: stretch;
    /*background: grey;*/
    width: 300px;
    overflow: auto;
}

section.playlist::-webkit-scrollbar {
    width: 12px;
}

section.playlist::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #bfbfbf;
}

.player-video{
    //height: 80%;
    box-shadow: 0px 10px 40px 0px rgb(76 70 124 / 50%);
    border-radius: 15px;
    max-width: 100%;
    min-width: 300px;
}


.player-control{
display: flex;
flex-direction: column;
padding: 0px 8px;
height: 20%;
}

.player-control .progress{
display: flex;
justify-content: space-between;
align-items: center;
/*padding-bottom: 10px;*/
}


#progress__current, #progress__total{
    margin-top: 2px;
    color: #71829e;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.7;
}

.player-control .progress #progress__bar{

    -webkit-appearance: none;
    appearance: none;
    /*
      width: 250px;
      height: 20px;*/

    width: 80%;
    height: 6px;
    /*background: #ccc;*/


    /*height: .25rem;*/

}

.player-control .progress #progress__bar::-webkit-progress-bar {
    /*width: 100%;
    background-color: rgba(165,224,251,.35);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/

    border-radius: 10px;
    background-color: #d0d8e6;
    height: 6px;
}

.player-control .progress #progress__bar::-webkit-progress-value {

    /*height: 10px;*/
    /*width: 50px;*/
    background-color: #a3b3ce;
    /*background-image: radial-gradient(circle at calc(100% - 13px) center, white 10px, purple 15px);*/

}

.player-control .progress #progress__bar::-webkit-progress-value::before {
    /* content: '80%';
     position: absolute;
     right: 0;
*/      /*top: -125%;*/
}

/*.player-control .progress #progress__bar::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: red;
  }*/

.player-control .manage-btns{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.playback-btns{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.playback-btns > .btn{
    padding: 12px 14px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    background: inherit;
    color: #acb8cc;
    font-size: 20px;
    text-align: center;
    opacity: 0.75;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.35, 0.57, 0.13, 0.88);
    /*          width: 50px;
        height: 50px;
        position: relative;*/
}

/*  .playback-btns > .btn::before{
        content: "";
      position: absolute;
   width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #fff;
      transform: scale(0.5);
      opacity: 0;
      box-shadow: 0px 5px 10px 0px rgb(76 70 124 / 20%);
      transition: all 0.3s ease-in-out;
      transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
  }

  .playback-btns > .btn:hover::before{
      opacity: 1;
    transform: scale(1.3);
  }*/

.playback-btns > .btn > i{
    margin: 0 4px;
}

.playback-btns > .btn#play{
    /*opacity: 0.75;*/
    border: 3px solid #acb8cc;
    padding: 10px 9px;
}


#speed-control, #volume-control{
    display: flex;
    align-items: center;
    padding: 0 4px
}

#volume-control progress{
    margin-left: 8px;
}

#speed-control progress{
    margin-right: 8px;
}

.playlist .video-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist .video-list .playlist-item{
    height: 50px;
    margin: 2px 0;

    padding: 4px 8px;
    position: relative;

    border-radius: 10px;

    cursor: pointer;
    display: flex;
    color: #71829e;
    justify-content: space-between;
    align-items: center;
    /*background-color: #111415;*/
    transition: background-color 500ms linear;
    text-align: center;
}

.playlist .video-list .playlist-item:not(:first-child){
    /*border-top: 1px solid #b3b9cf;*/
}

.playlist .video-list .playlist-item:hover{
    background-color: #ececec;
    border-radius: 2%;
    box-shadow: 0px 0px 28px -12px rgba(30,100,190,0.20);


    background: #f8f7f7fc;
    border-radius: 10px;
    opacity: 1;

    background: #f8f7f7fc;
    opacity: 1;
    /*transform: scale(1.04);*/
    /*color: #532ab9;*/
    box-shadow: 0px 5px 10px 0px rgb(76 70 124 / 20%);
}

.playlist .video-list .playlist-item img{
    height: 100%;
    border-radius: 7px;
    opacity: 0.75;
    border: 1px solid #e3e3e3;
    filter: blur(1px);
    min-width: 76px;
}

.playlist .video-list .playlist-item .play{
    opacity: 0;

    /*cursor: pointer;*/
    position: absolute;
    top: 35%;
    left: 13%;
    width: 15px;
    height: 0px;
    /* background: rgba(0, 0, 0, 0.0);
    border: 9px solid #00000000;
    border-left-color: rgba(208, 205, 205, 1.53);*/
    /*transform: scaleX(1.55555);*/
    transition: all 400ms;
    color: rgb(236 231 231);
    /*opacity: 0.666;*/
}

.playlist .video-list .playlist-item:hover .play{
    /*opacity: 0.666;*/
    opacity: 1;
}

#speed-control i, #volume-control i{
    color:  #acb8cc;
    /*opacity: 0.75;*/
}

#speed-control, #volume-control{
    opacity: 0.75;
    padding: 7px 7px !important;
}

#speed-control, .playback-btns, #volume-control{
    flex-basis: 33%;
    padding: 2px 7px;
}

#speed-control{
    flex-direction: row-reverse;
}

#speed-control > progress{
    width: 0%;
    transition: all 600ms;
}

#volume-control > progress{
    width: 0%;
    opacity: 0;
    transition: all 400ms;
}


#speed-control > progress{
    width: 0%;
    opacity: 0;
    transition: all 600ms;
}


#speed-control > progress{

    -webkit-appearance: none;
    appearance: none;

    width: 0;
    height: 6px;
}

#volume-control > progress{

    -webkit-appearance: none;
    appearance: none;

    width: 0;
    height: 6px;
}


#speed-control > progress::-webkit-progress-bar{
    /*width: 100%;
    background-color: rgba(165,224,251,.35);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/

    border-radius: 10px;
    background-color: #d0d8e6;
    height: 6px;
}

#volume-control > progress::-webkit-progress-bar{
    /*width: 100%;
    background-color: rgba(165,224,251,.35);
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/

    border-radius: 10px;
    background-color: #d0d8e6;
    height: 6px;
}

#speed-control > progress::-webkit-progress-value {

    /*height: 10px;*/
    /*width: 50px;*/
    background-color: #a3b3ce;
    /*background-image: radial-gradient(circle at calc(100% - 13px) center, white 10px, purple 15px);*/
}

#volume-control > progress::-webkit-progress-value {

    /*height: 10px;*/
    /*width: 50px;*/
    background-color: #a3b3ce;
    /*background-image: radial-gradient(circle at calc(100% - 13px) center, white 10px, purple 15px);*/

}


#speed-control:hover{
    background: #f8f7f7fc;
    border-radius: 20px;
    opacity: 1;

    background: #f8f7f7fc;
    opacity: 1;
    /*transform: scale(1.04);*/
    color: #532ab9;
    box-shadow: 0px 5px 10px 0px rgb(76 70 124 / 20%);
    /*height: 50%*/
}

#volume-control:hover{
    background: #f8f7f7fc;
    border-radius: 20px;
    background: #f8f7f7fc;
    border-radius: 20px;
    opacity: 1;

    background: #f8f7f7fc;
    opacity: 1;
    /*transform: scale(1.04);*/
    color: #532ab9;
    box-shadow: 0px 5px 10px 0px rgb(76 70 124 / 20%);
    /*padding: 4px 2px;*/
}

.playback-btns .btn:hover{
    background: #f8f7f7fc;
    opacity: 1;
    transform: scale(1.04);
    /*color: #532ab9;*/
    box-shadow: 0 5px 10px 0 rgb(76 70 124 / 20%);
    /*border-radius: 20px;*/
}

#speed-control:hover  > progress{
    width: 100%;
    opacity: 1;
    cursor: pointer;
}


#volume-control:hover > progress{
    width: 100%;
    opacity: 1;
    cursor: pointer;
}

#progress__bar:hover{
    cursor: pointer;
}
