@media screen and (max-width: 630px) {
  body{
    //background-color: yellow;

    .player-container{
      flex-direction: column;
      height: 80%;
      min-height: unset;
      max-height: unset;

      .player, .playlist{
        width: 100%;
      }

      .playlist .video-list .playlist-item .play{
        left: 7%
      }
      //.playlist{
      //  width: 100%;
      //}
    }
  }
}